* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #121317;
  --sub-background-color: #6e6f70;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
  background-color: var(--background-color);
}

.top-bar {
  background-color: var(--sub-background-color);
  display: flex;
}
